<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.tinkoff.fintech.lesson4.dao.CourseRepository">

    <insert id="save" parameterType="ru.tinkoff.fintech.lesson4.model.Course">
        INSERT INTO courses (courseId, name, description, requiredGrade)
        VALUES (#{courseId}, #{name}, #{description}, #{requiredGrade})
    </insert>

    <select id="findAll" resultMap="CourseMap">
        SELECT *
        FROM courses
    </select>

    <resultMap id="CourseMap" type="ru.tinkoff.fintech.lesson4.model.Course">
        <result property="courseId" column="courseId"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="requiredGrade" column="requiredGrade"/>
    </resultMap>
</mapper>