<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.tinkoff.fintech.lesson4.dao.StudentRepository">

  <insert id="save1" parameterType="ru.tinkoff.fintech.lesson4.model.Student">
    INSERT INTO students (id, name1, age, timeStart, timeEnd)
    VALUES (#{id}, #{name1}, #{age}, #{timeStart}, #{timeEnd})
  </insert>

  <select id="findAll" resultMap="StudentMap">
    SELECT *
    FROM students
  </select>


  <resultMap id="StudentMap" type="ru.tinkoff.fintech.lesson4.model.Student">
    <result property="id" column="id"/>
    <result property="name1" column="name1"/>
    <result property="age" column="age"/>
    <result property="timeStart" column="timeStart"/>
    <result property="timeEnd" column="timeEnd"/>
  </resultMap>
</mapper>
