<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.tinkoff.fintech.lesson4.dao.CourseStudentRepository">
    <insert id="addRow" >
        INSERT INTO students_courses (id, courseId)
        VALUES (#{id}, #{courseId});
    </insert>

    <resultMap id="StudentResultMap" type="ru.tinkoff.fintech.lesson4.model.Student">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <resultMap id="CourseResultMap" type="ru.tinkoff.fintech.lesson4.model.Course">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="courseId" jdbcType="VARCHAR" property="courseId"/>
    </resultMap>
</mapper>

